
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  margin: 0;
  background-color: white;
}

/*---------------------PÃGINAS CURTAS---------------*/

.arrow {
  position: relative;
  width: 60px; 
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  font-family: "Belleza";
}

.arrow:hover {
  border: solid 2.5px white;
  border-radius: 50%;
}

.arrow:after {
  position: absolute;
  display: block;
  content: "";
  width: 40px;
  height: 0; 
  border-top: solid 2.5px white;
  top: 50%; 
  left: 10px; 
  transform: translateY(-50%);
}

.arrow:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 16px; 
  height: 16px; 
  border-top: solid 2.5px;
  border-left: solid 2.5px;
  top: 50%;
  left: 4px;
  transform-origin: 0% 0%;
  transform: rotateZ(-45deg);
}

.arrow:hover:before {
  -webkit-animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
          animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
  -webkit-animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
          animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@-webkit-keyframes aniArrow01 {
  0% {
    transform: rotateZ(-45deg) translateY(60px) translateX(60px); 
  }
  100% {
    transform: rotateZ(-45deg) translateY(-70px) translateX(-70px); 
  }
}

@keyframes aniArrow01 {
  0% {
    transform: rotateZ(-45deg) translateY(60px) translateX(60px); 
  }
  100% {
    transform: rotateZ(-45deg) translateY(-70px) translateX(-70px); 
  }
}

@-webkit-keyframes aniArrow02 {
  0% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(-88px); 
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(90px); 
  }
  100% {
    transform: translateX(-88px); 
  }
}

@-webkit-keyframes borderAni {
  0% {
    border: solid 2.5px white;
  }
  100% {    
    border: solid 2.5px white; 
    border-radius: 50%;
  }
}

@keyframes borderAni {
  0% {
    border: solid 2.5px white;
  }
  100% {    
    border: solid 2.5px white; 
    border-radius: 50%;
  }
}

.text-films{
font-size: 4rem;
transition: background 0.3s;
font-family: "Belleza";
text-decoration: none;
color: white;
margin-bottom: 20px;
font-weight: 550;
}

.text-films-black{
font-size: 4rem;
transition: background 0.3s;
font-family: "Belleza";
text-decoration: none;
color: black;
margin-bottom: 20px;
font-weight: 550;
}


.column-container {
  column-count: 3;
  column-gap: 20px; 
}

.sin-title{
color: white;
font-size: 4rem;
font-family: "Belleza";
text-decoration: none;
color: black;
margin-bottom: 20px;
font-weight: 550;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%; 
  height: auto; 
}
@media (max-width: 767.98px) {
  .row > div:first-child {
    order: 2;
  }
  .row > div:last-child {
    order: 1;
  }
}

.imvi{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('imvi.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.angus{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('angus.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.biwa{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('biwa.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.registro{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('registro.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.balazio{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('balazio.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.balas{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('balas.png'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

/*------------------SITE-----------------------------*/
.box{
  width: fit-content;
  height: 100%;
  background-color: #0C0D29;
  position: fixed;
  text-align: left;
  z-index: 90;
  opacity: 0;
  left: -500px;
  pointer-events: none;
  transition: 0.5s;
}
.active_box{
  opacity: 1;
  left: 0px;
  pointer-events: fill;
}
.menu_icon_box{
  z-index: 99;
  width: 100%;
  height: auto;
  margin: 30px;
  margin-left: 5px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}
.line1 , .line3{
  width: 40px;
  height: 2px;
  margin: 10px 8px;
  background-color: white;
  border-radius: 50px;
  transition: all 0.2s ease;
  z-index: 99;
  transform-origin: center;
}

.line-black .line1,
.line-black .line3 {
  background-color: black;
}

.line-white .line1,
.line-white .line3 {
  background-color: white;
}

.active .line1{
  transform: rotate(45deg);
  background-color: white;
  position: fixed;

}

.active .line3{
  transform: rotate(-45deg);
  background-color: white;
  position: fixed;

}
nav{
  padding-top: 100px;
}
nav ul{
  margin: 0px 30px;
}
nav ul li{
  list-style: none;
  margin-bottom: 30px;
  transition: 0.5s;
  font-family: "Belleza", sans-serif;
}
nav ul li:hover{
  background-color: #c6c6c66f;
  border-radius: 8px;
}
nav ul li a{
  color: white;
  font-size: 28px;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
}

.bar{
  z-index: 99;
  width: 100%;
  height: 100px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('biwa2.gif'); 
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: background 0.5s ease;
}

.text a:visited, .text a:link, .text a:active{
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Belleza";
  text-decoration: none;
}

.text a:hover {
  color: grey;
}

@font-face{
font-family: Arabica;
src:  url(arabian.ttf);
}

.text:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .text a:visited, .text a:link, .text a:active{
        font-size: 2rem; 
    }
}

@media (max-width: 480px) {
    .text a:visited, .text a:link, .text a:active{
        font-size: 1.5rem; 
    }
}

@media (max-width: 768px) {
    .text-films-black {
        color: white;
    }
}

@media (max-width: 480px) {
    .text-films-black {
        color: white;
    }
}

@media (max-width: 768px) {
    .texto{
    font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .texto{
    font-size: 1em;
    }
}

/*----------------Corpo do site--------------------*/

.titulo{
margin-top: 100px;
text-align: center;
}

.nour{
font-size: 5em;
font-family: Arabica;
color: black;
}

@media (max-width: 768px) {
  .nour{
      font-size: 4.5em; 
  }
}

@media (max-width: 480px) {
  .nour{
      font-size: 4em; 
  }
}

.subtitulo{
margin-top: 50px;
font-size: 2.8em;
font-family: Arabica;
color: black;
}

.texto{
font-family: "Belleza", sans-serif;
font-weight: 400;
justify-content: left;
font-size: 1.6em;
}

.contato-fundo{
background-color: #04040f ;
width: 100%;
height: auto;
align-items: left;
justify-content: start;
}

.contact-text-title{
font-size: 24px;
color: white;
font-family: "Belleza", sans-serif;
font-weight: 500px;
}

.contact-text-title a:visited, .contact-text-title a:link, .contact-text-title a:active{
font-size: 24px;
color: white;
font-family: "Belleza", sans-serif;
font-weight: 500px;
}

.contact-text-title a:hover{
color: grey;
font-size: 24.5px;
}

.contact-text{
font-size: 25px;
color: white;
font-family: "Belleza", sans-serif;
font-weight: 300px;
}

.fundo_azul{
background-color: #04040f;
width: 100%;
height: auto;
padding: 20px;
}



#azul .d-flex.flex-wrap {
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  #azul .d-flex.flex-wrap {
    flex-direction: column;
  }

  #azul .d-flex.flex-wrap > div {
    width: 100%;
    max-width: none;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: white;
  margin: 20px auto; 
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box; 
}

@media (max-width: 576px) {
  hr {
    margin: 10px auto; 
    width: 90%; 
  }
}


